<%=render 'layouts/header'%>
<div class="container udid">
  <% if @udid %>
    <sapn class="udid-span">
      UDID
      <br/>
      <strong class="red"><%=@udid%></strong>
    </sapn>
  <% else %>
    <sapn class="udid-span">
      <mark>请在Safari中打开操作</mark>
      <br/>
      <br/>
      <%=link_to "授权获取UDID", "#{mobileconfig_udid_index_path}.mobileconfig" ,class:"btn btn-primary ui-plat" %>
    </sapn>
  <% end %>
</div>