<%=render 'layouts/header'%>

<div class="container plat index">

  <!-- Button trigger modal -->
  <%#=link_to "添加", new_app_path, class: "pull-right"%>
  <!-- <br>
  <hr> -->
  <div class="row">
    <%@plats.each do |palt|%>
      <div class="col-md-10">
        <%=link_to palt.name, palt %>
      </div>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%=link_to 'new plat', new_app_plat_path, class: "btn btn-primary" %>
    </div>
  </div>
  
</div>