.plat.show{
  &.app-host-container{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 4px;
    .plat-info{
      margin-left: 16px;
      display: block;
      min-height: 22px;
      color: #999;
      font-size: 13px;
      line-height: 24px;
    }
    &>.nav{
      margin-left: 12px;
    }
    &>.row{
      margin-left: 0px;
      margin-right: 0px; 
    }
    .cell{
      overflow: hidden;
      $icon_with : 48px;
      $padding_size : 15px;
      padding-left: 0px;
      padding-right: 0px;
      .divider{
        display: block;
        width: 100%;
        height: 1px;
        background-color: #E0E0E0;
        margin-left: $padding_size;
      }
      .cell-container{
        overflow: hidden;
        box-sizing: border-box;
        padding-left: $padding_size;
        .icon{
          width: $icon_with;
          height: $icon_with;
          border-radius: 8px;
          overflow: hidden;
          float: left;
          margin: 12px 0;
          img{
            width: 100%;
          }
        }
        .detail{
          display: block;
          float: left;
          padding: $padding_size - 2px 0;
          width:-moz-calc(100% - 48px); 
          width:-webkit-calc(100% - 48px); 
          width: calc(100% - 48px);
          padding-left: 12px;
          .title{
            display: block;
            width: 100%;
            font-size: 16px;
          }
          .date-label{
            float: right;
            margin-right: $padding_size;
            font-size: 13px;
            color: #999999;
          }
          .sub-title{
            color: #666666;
            font-size: 13px;
          }
          .actions{
            float: right;
            display: inline-block;
            margin-right: $padding_size;
            margin-top: 2px;
            .download-btn{
              font-size: 12px;
              color: #03A3FC;
            }
            .delete_btn{
              margin-left: 8px;
              font-size: 12px;
              display: inline-block;
              input[type=submit]{
                border:none;
                padding: 0 2px;
              }
            }  
          }
          @media (max-width: 900px){
            .actions{
              .delete_btn{
                display: none;
              }
              .download-btn{
                font-size: 12px;
                border: solid 1px #03A3FC;
                border-radius: 4px;
                color: #03A3FC;
                line-height: 20px;
                display: inline-block;
                padding: 0 8px;
              }
            }
          }
        }
      }
    }
  }
}