<div class="cell">
  <a href="/apps/1">
    <div class="cell-container">
      <div class="icon">
        <img src="http://lorempixel.com/120/120/?<%=rand()%>"/>
      </div>
      <div class="detail">
        <span class="title">
          贷款大师
          <span class="date-label">
            2天前
          </span>
        </span>
        
        <span class="sub-title">
          版本 2.90，18.8MB
        </span>
      </div>
    </div>
    <div class="divider"></div>
  </a>
</div>