<div class="col-md-4 cell new">
  <a href="/apps/new">
    <div class="cell-container">
      <span class="glyphicon glyphicon-console" aria-hidden="true"></span>
      <span>New APP</span>
    </div>
    <div class="divider"></div>
  </a>
</div>