<%=render 'layouts/header'%>

<div class="container app index app-host-container">

<%=render 'comoms/alert'%>

<div class="row">
  <% if can? :create, App %>
    <div class="visible-md visible-lg">
      <%=render "cell_add" %>
    </div>
  <% end %>
  
  <%= render partial: "cell", collection: @apps, as: :app %>
</div>

</div>